.card {
  /* border-radius: 10px; */
}

.table th {
  /* text-align: center; */
}

.table td {
  vertical-align: middle;
}

table.leave-request-table td{
    padding: 20px;
}

table.leave-request-table th  {
    padding: 10px 20px;
}

.bg-approved{
    background-color: #D0FAE5;
}


table.table.table-hover > tbody > tr:hover > * {
  background-color: rgb(237, 237, 253) !important;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.custom-modal {
  background: #fff;
  width: 600px;
  border-radius: 12px;
  padding: 20px;
  animation: fadeInScale 0.2s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body p {
  margin: 8px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}