.stat-card {
  transition: transform 0.3s ease-in-out;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card i {
  transition: transform 0.3s ease-in-out;
}

.stat-card:hover i {
  transform: scale(1.1);
}

.sidebar{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fafafa;
}