*{
    font-family: "Poppins", sans-serif;
}


p{
    font-size: 14px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.text-zen{
    color: #754ffe;
}

.bt-zen-light{
    color: #e3dcff;
}

.bg-status{
    font-size: 12px;
    border-radius: 8px;
    font-weight: 500;
    padding: 4px 8px;
}

.not-started{
    background-color: #CAD5E2;
    color: #314158;
}

.in-progress{
    background-color: #fff7bc;
    color: #f0a400;
}

.approved{
    background-color: #8EC5FF;
    color: #155DFC;
}

.new-discussion{
    background-color: #E9D4FF;
    color: #a03bff;
}
.completed{
    background-color: #baf8db;
    color: #00BC7D;
}

.rejected{
    background-color: #f8baba;
    color: #a53333;
}

.high{
    color: white;
    background-color: #FF6467;
    
}
.low{
    color: white;
    background-color: #00C951;
    
}
.medium{
    color: white;
    background-color: #FE9A00;
    
}



.bg-green{
    background-color: #d1f5ea;
}

.bg-yellow{
    background-color: #ffeeda;
}

.bg-red{
    background-color: #fad9d8;
}

.rbc-label{
    font-size: 12px !important;
    color: #5d5d5d !important;
    font-weight: 500;
}

.rbc-header span{
    color: #5d5d5d !important;
    font-weight: 600 !important;
}

.rbc-time-view{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.rbc-time-header{
    background-color: #fafafa;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}